<!--footer-->
<div id="bottom-footer" class="hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
			</div>

			<div class="col-md-8">
				<div class="footer-right">
                    <ul class="list-unstyled list-inline pull-right">
						<li><a href="{:U('./Home/index')}">Twoway</a></li>
						<li><a href="{:U('./Home/index')}#about">关于TW</a></li>
						<li><a href="{:U('./Home/index')}#about-bg">TW数据</a></li>
						<li><a href="{:U('./Home/index')}#service">TW的服务</a></li>
						<li><a href="{:U('./Home/index')}#portfolio">TW项目</a></li>
						<li><a href="{:U('./Home/index')}#contact">联系我们</a></li>
						<li><a href="{:U('./Home/index/hire')}">人才招聘</a></li>
						<li>{$web_footer}</li>
                    </ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- jQuery -->
<script src="__PUBLIC__/Temp/home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Temp/home/js/bootstrap.min.js"></script>

<script src="__PUBLIC__/Temp/home/js/jquery.inview.js"></script>
<script src="__PUBLIC__/Temp/home/js/script.js"></script>
<script src="__PUBLIC__/Temp/home/js/contactform.js"></script>