<div id="bottom-footer" class="hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
			</div>

			<div class="col-md-8">
				<div class="footer-right">
                    <ul class="list-unstyled list-inline pull-right">
						<li><a href="#home">Twoway</a></li>
						<li><a href="#about">关于TW</a></li>
						<li><a href="#about-bg">TW数据</a></li>
						<li><a href="#service">TW的服务</a></li>
						<li><a href="#portfolio">TW项目</a></li>
						<li><a href="#contact">联系TW</a></li>
						<li>{$web_footer}</li>
                    </ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- jQuery -->
    <script src="__PUBLIC__/Temp/home/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Temp/home/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Temp/home/js/jquery.flexslider.js"></script>
    <script src="__PUBLIC__/Temp/home/js/jquery.inview.js"></script>

    <script src="__PUBLIC__/Temp/home/js/script.js"></script>
    <script src="__PUBLIC__/Temp/home/js/contactform.js"></script>