<header id="home">
	<section class="top-nav hidden-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top-left">

							<!-- <ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul> -->

						</div>
					</div>

					<div class="col-md-6">
						<div class="top-right">
							<p>地址:<span>广州市越秀区德政北路538号达信大厦8楼</span></p>
						</div>
					</div>

				</div>
			</div>
		</section>
	<!--main-nav-->
	<div id="main-nav">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-header">
					<a href="" class="navbar-brand"></a>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ftheme">
						<span class="sr-only">Toggle</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="ftheme">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#home">Twoway</a></li>
						<li><a href="#about">关于TW</a></li>
						<li><a href="#about-bg">TW数据</a></li>
						<li><a href="#service">TW的服务</a></li>
						<li><a href="#portfolio">TW项目</a></li>
						<li><a href="#contact">联系我们</a></li>
						<li class="hidden-sm hidden-xs">
                            <a href="#" id="ss"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </li>
					</ul>
				</div>
				<div class="search-form">
                    <form>
                        <input type="text" id="s" size="40" placeholder="Search..." />
                    </form>
                </div>
			</div>
		</nav>
	</div>
</header>