	<!-- 渐变色样式 -->
	<style>
		#grad {
			width: 100%;
			height: 10px;
			  background: -webkit-linear-gradient(left,rgba(6,89,165,1),rgba(6,89,165,0)); /* Safari 5.1 - 6 */
			  background: -o-linear-gradient(right,rgba(6,89,165,1),rgba(6,89,165,0)); /* Opera 11.1 - 12*/
			  background: -moz-linear-gradient(right,rgba(6,89,165,1),rgba(6,89,165,0)); /* Firefox 3.6 - 15*/
			  background: linear-gradient(to right, rgba(6,89,165,1), rgba(6,89,165,0)); /* 标准的语法 */
			} 
	</style>
	<!-- 渐变色样式 -->

<header id="home">
	<section class="top-nav hidden-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top-left">

							<!-- <ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul> -->

						</div>
					</div>

					

				</div>
			</div>
		</section>
	<!--main-nav-->
	<div id="main-nav">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-header">
					<a href="{:U('./Home/index')}" class="navbar-brand"></a>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ftheme">
						<span class="sr-only">Toggle</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="ftheme">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{:U('./Home/index')}">Twoway</a></li>
						<li><a href="{:U('./Home/index')}#about">关于TW</a></li>
						<li><a href="{:U('./Home/index')}#about-bg">TW数据</a></li>
						<li><a href="{:U('./Home/index')}#service">TW的服务</a></li>
						<li><a href="{:U('./Home/index')}#portfolio">TW项目</a></li>
						<li><a href="{:U('./Home/index/shanghai')}">上海项目</a></li>
						<li><a href="{:U('./Home/index')}#contact">联系我们</a></li>
						<li><a href="{:U('./Home/index/hire')}">人才招聘</a></li>
						<li class="hidden-sm hidden-xs">
                            <a href="#" id="ss"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </li>
					</ul>
				</div>
				<div class="search-form">
                    <form>
                        <input type="text" id="s" size="40" placeholder="Search..." />
                    </form>
                </div>
			</div>
		</nav>
	
	</div><div id="grad">

	</div>
</header>