<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{$posts.posts_title|default=""}{$webname}</title>
<meta name="description" content="{$webkeys}">
<meta name="keywords" content="{$webdescription}">
<link rel="stylesheet" href="__PUBLIC__/Temp/home/css/flexslider.css">
<link rel="stylesheet" href="__PUBLIC__/Temp/home/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/Temp/home/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/Temp/home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Temp/home/css/timelinestyle.css" />