<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{$posts.posts_title|default=""}{$webname}</title>
<meta name="description" content="{$webdescription}">
<meta name="keywords" content="{$webkeys}">
<!-- <link rel="stylesheet" href="__PUBLIC__/Temp/home/css/flexslider.css"> -->
<link rel="stylesheet" href="__PUBLIC__/Temp/home/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/Temp/home/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/Temp/home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Temp/home/css/timelinestyle.css" />

<!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
<!-- <link href="https://static.bootcss.com/www/assets/css/site.min.css?v5" rel="stylesheet"> -->